@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-4 text-4xl font-extrabold leading-none tracking-tight text-indigo-950 md:text-5xl lg:text-6xl dark:text-white;
  }

  h2 {
    @apply text-4xl text-indigo-950 font-extrabold dark:text-white
  }

  h3 {
    @apply text-3xl text-indigo-950 font-bold dark:text-white
  }

  a {
    @apply text-xl text-indigo-950 font-bold underline decoration-2 hover:text-indigo-800
  }
  
  p, label {
    @apply text-xl font-bold mb-3 text-indigo-950 dark:text-gray-400
  }

  .containerWindow {
    @apply rounded-tr-lg rounded-bl-lg bg-gradient-to-r from-blue-300 to-indigo-500
  }

  .containerWindowReverse {
    @apply rounded-tr-lg rounded-bl-lg bg-gradient-to-r from-indigo-500 to-blue-300 
  }

  .loginButton {
    @apply mx-10 px-10 py-2 rounded-tr-lg rounded-bl-lg bg-gradient-to-r from-indigo-500 to-blue-300
    text-base font-bold text-indigo-950 hover:text-indigo-800 hover:drop-shadow-xl active:brightness-50
  }

  .loginInput {
    @apply text-sm font-bold text-indigo-950 outline-0 p-2 bg-gradient-to-r from-sky-200 to-inherit rounded-tr-lg rounded-bl-lg
  }

  .textInput {
    @apply text-sm font-semibold text-indigo-950 outline-0 p-2 bg-gradient-to-r from-sky-200 to-inherit rounded-tr-lg rounded-bl-lg
  }

  .dropDown {
    @apply text-sm font-semibold text-indigo-950 outline-0 p-2 bg-gradient-to-r from-sky-200 to-inherit rounded-tr-lg
  }

    /* -- Modal CSS -- */
  .modal {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: 22em;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    z-index: 999;
    transform: none;
  }

  .modal-overlay {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
  }

  /* ---------------------------------- */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s linear;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .pop-enter-active,
  .pop-leave-active {
    transition: transform 1s cubic-bezier(0.5, 0, 0.5, 1), opacity 1s linear;
  }

  .pop-enter-from,
  .pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
  }

  /* -- Modal CSS end -- */

}